{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/singup_style.css">
{% endblock %}
{% block title %}
Listar Archivo
{% endblock %}
singup_style.css

{% block content %}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/static/images/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="POST" action="#">
            <span id="reauth-email" class="reauth-email"></span>
            {{ form.csrf_token }}</br>
            {{ form.username.label }} {{ form.username(size=20) }}</br>
            {{ form.password.label }} {{ form.password(size=20) }}</br>
            {{ form.confirm.label }} {{ form.confirm(size=20) }}</br>
            
            {% for fieldName, errorMessages in form.errors.items() %}
                {% for err in errorMessages %}
                    <p>{{err}}</p>
                {% endfor %}
            {% endfor %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <h4><span class="label label-info">{{ message }}</span>&nbsp;</h4>
              {% endfor %}
              </ul>
            {% endif %}
            {% endwith %}
            
            {{ form.submit }}
            </a href="/alta">
        </form>
    </div><!-- /card-container -->
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
    {% if (mostrar_mje) %}
        alert("Se agregó Correctamente!");
        window.location.href = "/index";
    {% endif %}
</script>
{% endblock %}
