{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mi App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/lista">Listar</a></li>
                    <li><a href="/AgregarVenta">Agregar Venta</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Productos por cliente</a></li>
                          <li><a href="#">Clientes por producto</a></li>
                          <li><a href="#">Productos mas vendidos</a></li>
                          <li><a href="#">Clientes con mayor gasto</a></li>
                        </ul>
                    </li>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                        <li><a href="/alta"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
