{% extends "base.html" %}

{% block title %}
Cambiar password
{% endblock %}

{% block content %}
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Cambiar password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="POST">
                    {{ formulario.hidden_tag() }}
                    <div class="form-group col-md-8">
                        <div class="row">
                            {{formulario.actual_password.label(class="control-label col-md-4")}}
                            <div class="col-md-8">
                                {{formulario.actual_password(class="form-control")}}
                                {% if 'actual_password' in formulario.errors %}
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ formulario.errors['actual_password'][0] }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {{formulario.nueva_password.label(class="control-label col-md-4")}}
                            <div class="col-md-8">
                                {{formulario.nueva_password(class="form-control")}}
                                {% if 'nueva_password' in formulario.errors %}
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ formulario.errors['nueva_password'][0] }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {{formulario.confirmar_password.label(class="control-label col-md-4")}}
                            <div class="col-md-8">
                                {{formulario.confirmar_password(class="form-control")}}
                                {% if 'confirmar_password' in formulario.errors %}
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ formulario.errors['confirmar_password'][0] }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="row">
                            <ul class=flashes>
                                {% for message in messages %}
                                    <h4><span class="label label-info">{{ message }}</span>&nbsp;</h4>
                                {% endfor %}
                            </ul>   
                        </div>

                        {% endif %}
                        {% endwith %}
                        <div class="row">
                            {{formulario.submit}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}